unittest2
pdfplumber
python-docx
pandas
openpyxl
PyPDF2
Pillow
sentence-transformers
numpy
torch
transformers
llangchain
langchain_core
langchain_ollama
pdf2image
streamlit
streamlit-chat
beautifulsoup4