unittest2
pdfplumber
python-docx
pandas
openpyxl
PyPDF2
Pillow
sentence-transformers
numpy
torch
transformers
langchain
langchain_core
langchain_ollama
pdf2image
beautifulsoup4
tavily-python
python-dotenv
pytest
fastapi
uvicorn[standard]
jinja2
python-multipart
